@import '../../variables.css';

.root {
  display: inline-block;
}
.root {
  margin-bottom: -10px;
}
.root:not(:first-child) {
  margin-top: -10px;
}

.desktopItem {
  width: 95px;
  height: 95px;
  overflow: hidden;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.icon {
  height: 50%;
  width: 60px;
}
.directoryName {
  display:inline-block;
  text-align: center;
  height: 50%;
  width: 100%;
  white-space: pre-line;
}