@import '../../variables.css';


#root {
  height: calc(100% - 52px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#container {
  width: 200px;
  height: 150px;
  position: relative;
  perspective: 1000px;
}

#slidesContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  max-height: 65%;
}

.slide{
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  /*background-color: rgba(150, 150, 150, .15);*/
}

.slide img {
  max-height: 100%;
}
.slide h3 {
  color: #FFF;
}
.control {
  position: absolute;
  font-size: 30px;
}

.left {
  left: 0;
}
.right {
  right: 0;
}

@media (--phone) {
  #container {
    width: 300px;
    height: 240px;
  }
}

@media (--tablet) {
  #container {
    width: 500px;
    height: 340px;
  }
}

@media (--desktop) {
  #container {
    width: 665px;
    height: 440px;
  }
}
@media (--tabletLandscape) {
  #container {
    width: 800px;
    height: 440px;
  }
}
@media (--widescreen) {
  #container {
    width: 1000px;
    height: 440px;
  }
}
