@import '../../variables.css';


#root {
  height: calc(100% - 52px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  width: 210px;
  height: 140px;
  position: relative;
  perspective: 400px;
}

#slidesContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.slide{
  margin: 0;
  display: block;
  position: absolute;
  width: 186px;
  height: 116px;
  left: 10px;
  top: 10px;
  border: 1px solid black;
  background-color: rgba(150, 150, 150, .15);
}

.control {
  position: absolute;
  font-size: 30px;
}

.left {
  left: 0;
}
.right {
  right: 0;
}