@import '../../variables.css';


#root {
  height: calc(100% - 52px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  width: 25%;
  height: 15%;
  position: relative;
  perspective: 400px;
}

#slidesContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  left: 3%;
}

.slide{
  margin: 0;
  display: block;
  position: absolute;
  width: 90%;
  height: 90%;
  border: 1px solid black;
  /*background-color: rgba(150, 150, 150, .15);*/
}

.control {
  position: absolute;
  font-size: 30px;
}

.left {
  left: 0;
}
.right {
  right: 0;
}

@media (--desktop) {
  #slide {
    width: 210px;
    height: 140px;
  }
}