.root {
  position: absolute;
  overflow: hidden;
  outline: 1px solid black;
  min-width: 200px;
  min-height: 200px;
}
.bottomRightResizer, .topRightResizer, .bottomLeftResizer, .topLeftResizer {
  position: absolute;
  height: 10px;
  width: 10px;
}

.bottomRightResizer {
  bottom: -2px;
  right: -2px;
  cursor: nwse-resize;
}
.bottomRightResizer {

}
