@import '../../variables.css';

.root {
  background-color: #fff;
  width: 99.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
}

.root:last-child {
  border-bottom: 1px solid #EEE;
}

.root:hover {
  box-shadow: 1px 1px 1px 1px #857896;
}
.iconContainer, .textContainer {
  display: inline-block;
}
.iconContainer {
  width: 20%;
}
.textContainer {
  width: 80%;
}

.programName, .programSubtext {
  display: flex;
}

.programName {
  font-weight: bold;
  font-size: 15px;
}

.programSubtext{
  color: #857896;
  font-size: 13px;
}