@import '../../variables.css';

.root {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon {

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}