@import '../variables.css';


.root {
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

.bigHeader {
  color: #FFF;
  height: 400px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*text-align: center;*/
  align-items: center;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.bigHeader:after{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10,10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}

.bigHeader:active:after {
  transform: scale(0,0);
  opacity: .2;
  transition: 0s;
}


.bigHeader h1, .bigHeader h3 {
  margin: 0;
}
.bigHeader h1 {
  font-size: 47px;
}
.bigHeader h3 {
  font-size: 35px;
}

@media(--phone) {
  .bigHeader h1 {
    font-size: 60px;
  }
  .bigHeader h3 {
    font-size: 40px;
  }
}
@media (--phoneLandscape) {
  .bigHeader h1 {
    font-size: 78px;
  }
  .bigHeader h3 {
    font-size: 52px;
  }
}