@import '../../variables.css';

.root {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #1296EB;
  box-shadow: inset 3px 3px 5px #22C5F4;
  border-left: 1px solid black;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: default;
}

.infoImage {
  width: 30px;
  color: #FFF;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoImage:hover {
  background-color: rgba(255, 255, 255, .25);
}
@media (--phoneRetina) {
  .root {
    min-width: 125px;
  }

}
@media(--desktop) {
  .root {
    min-width: 145px;
  }
}