@import '../../../variables.css';


.root {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.title {
  font-size: 48px;
}
.projectName {
  margin: 0;
  padding: 0;
  text-align: center;
}
.contentBlock {
  height: calc(100% - 26px);
  display: flex;
  flex-direction: column;
}
.imageBlock {
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.imageBlock img {
  max-width: 100%;
  height: auto;
  max-height: 270px;
}
.detailBlock {
  height: 100%;
  width: 100%;
  display: inline-flex;
  padding: 10px;
  text-align: center;
  flex-direction: column;
  justify-content: center;

}

.projectRow {
  height: 600px;
  background-color: #FFF;
  color: black;
  box-shadow: 1px 1px 6px black;
  margin: 10px 20px 10px 10px;
}

@media (--tablet) {
  .contentBlock {
    flex-direction: row;
  }
  .imageBlock {
    width: 25%;
  }
  .detailBlock {
    width: 75%;
  }
  .projectRow {
    height: 300px;
  }

}