@import 'normalize-css/normalize.css';
@import '../variables.css';

#app {
  overflow: hidden;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
html {
  color: #222;
  font-weight: 100;
  font-size: 1em; /* ~16px; */
  font-family: var(--font-family-base);
  line-height: 1.375; /* ~22px */
}

html, body, #app, .root {
  height: 100%;
}
.root {
  overflow: hidden;
}
a {
  text-decoration: none;
}

