@import 'normalize-css/normalize.css';
@import '../variables.css';

#app {
  overflow: hidden;
}

html {
  color: #222;
  font-weight: 100;
  font-size: 1em; /* ~16px; */
  font-family: var(--font-family-base);
  line-height: 1.375; /* ~22px */
}

a {
  text-decoration: none;
}
