@import '../../variables.css';

.root {
  width: 95px;
  height: 95px;
  margin: 10px;
  display: inline-block;
  float: left;
  cursor: pointer;
}

.icon {
  height: 50%;
  width: 60px;
}
.directoryName {
  display:inline-block;
  text-align: center;
  height: 50%;
  width: 80px;
}

@media (--tablet) {
  .startText {
    display: block;
  }
}
