@import '../../variables.css';

.root {
  width: 100px;
  height: 100px;
  margin: 4px;
  /*overflow: hidden;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  position: relative;
}

.icon {
  height: 60px;
  width: 60px;
}

.iconSVG{
  position: absolute;
  top: -5px;
  left: -5px;
}


.directoryName {
  display:inline-block;
  text-align: center;
  height: 50%;
  width: 100%;
  white-space: pre-line;
  word-wrap: break-word;
  overflow: hidden;
}

@media (--tablet) {
  .root {
    margin: 10px;
  }
  .startText {
    display: block;
  }
}
