@import '../variables.css';

.root {
  margin: 0;
  background-color: var(--quaternary-color);
}

.linkContainer .link {
  margin: 15px 0;
}

.link {
  display: inline-block;
  color: white;
}


.link:not(:first-child) {
  margin-left: 30px;
}

.link:active {
  color: #07a3ee;
}

.mobile, .desktop {
  display: none;
}

@media(max-width: 767px) {
  .mobile {
    display: block;
  }
}
@media (min-width: 768px) {
  .desktop{
    display: block;
  }
}

