@import '../../variables.css';

.root {
  position: absolute;
  box-shadow: 2px 2px 20px #000000;
  z-index: 100;
}
.root li {
  cursor: pointer;
}
.root li:hover {
  background-color: #d9d9d9;
}

.root, .nestedMenu {
  padding: 15px;
  background-color: #F2F2F2;
  outline:1px solid black;
}
.nested:hover .nestedMenu {
  display: block;

}
.nestedMenu {
  display: none;
  position: absolute;
  top: 0;
  left: 55%;
  box-shadow: 1px 1px 11px #000000;

}
.contextMenu, .nestedMenu {
  list-style-type: none;
}
.menuItem {
  margin: 5px;
  display: inline-block;
}
