.root {
  margin: 0;
}

.linkContainer .link {
  margin: 15px 0;
}

.link {
  display: inline-block;
  margin-left: 15px;
}

.link:first-child {
  margin-left: 30px;
}

.link:not(:first-child) {
  margin-left: 15px;
}

.link,
.link:active,
.link:visited {
  color: rgba(0, 0, 0, 0.6);
}
