@import '../variables.css';

.root {
  margin: 0;
  overflow: hidden;
  font-family: 'Josefin Sans', monospace;
  font-weight: bold;
  height: 51px;
}
.name{
  font-size: 32px;
}
.desktop {
  display: none;
}

.linkContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  line-height: 55px;
  position: relative;
  top: 2px;
}
.linkContainer .link {
  /*margin: 15px 0;*/
}

.link {
  display: inline-block;
  margin-left: 15px;
}

.link:first-child {
  margin-left: 30px;
}

.link:not(:first-child) {
  margin-left: 15px;
}

.link,
.link:active,
.link:visited {
  color: rgba(0, 0, 0, 0.6);
}

.deactivated {
  text-decoration: line-through;
}
.devOnly {
  float: right;
}

@media (--tablet) {
  .desktop {
    display: inline-block;
  }
  .mobile {
    display: none;
  }
}