@import '../variables.css';

.root  {
  width: 100%;
  height: 100%;
}
.addWidget{
  width: 100%;
  height: 100%;
}

.slideDownEnter-enter {
  transform: translateY(100%);
}
.slideDownEnter-enter.slideDownEnter-enter-active {
  transform: translateY(0%);
  transition: transform 300ms ease-in;
}
.slideDownEnter-leave {
  transform: translateY(0%);
}
.slideDownEnter-leave.slideDownEnter-leave-active {
  transform: translateY(100%);
  transition: transform 300ms ease-in;
}