@import '../../variables.css';


#root {
  height: calc(100% - 52px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-color: black;

}

#menu {
  position: absolute;
  top: 0;
  left: 0;
  list-style-type: none;
  color: #FFF;
  z-index: 4;
}
#menu li {
  margin: 5px;
  height: 60px;
  line-height: 60px;
  padding-left: 5px;
}
#displayer{
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  color: #FFF
}

#menu li button {
  text-transform: capitalize;
}

#menu button {
  background-color: rgba(0,0,0,0);
  border: none;
}
#container {
  width: 200px;
  height: 200px;
  position: relative;
  perspective: 1000px;
  perspective-origin: 50% 100px;
}

#sidesContainer {
  position: relative;
  width: 200px;
  transform-style: preserve-3d;
  transform-origin: 100px 100px;
}

.side {
  color: #FFF;
  position: absolute;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 30px rgba(125, 125, 125, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

div.back {
  transform: translateZ(-100px) rotateY(180deg);
  background-color: rgba(250, 201, 184, .80);
}
div.right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
  background-color: rgba(32, 42, 37, .80);
}
div.left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
  background-color: rgba(120, 128, 181, .80);
}
div.top {
  transform: rotateX(90deg) translateY(-100px) scale(1, 1);
  transform-origin: top center;
  background-color: rgba(216, 210, 225, .80);
}
div.bottom {
  transform: rotateX(-90deg) translateY(100px) scale(1, 1);
  transform-origin: bottom center;
  background-color: rgba(219, 34, 42, .80);
}
div.front {
  transform: translateZ(100px);
  background-color: rgba(142, 227, 239, .80);

}
.buttonFront:before {
  content: ' ';
  width: 5px;
  height: 100%;
  background-color: rgba(142, 227, 239, 1);
  position: absolute;
  left: 0;
  top: 0;
}
.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  color: #FFF;
  z-index: 5;
  cursor: pointer;
}
