@import '../../variables.css';


#root {
  height: calc(100% - 52px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

#menu {
  position: absolute;
  top: 0;
  left: 0;
}
#menu button {
  background-color: rgba(0,0,0,0);
  border: none;
}
#container {
  width: 200px;
  height: 200px;
  position: relative;
  perspective: 1000px;
  perspective-origin: 50% 100px;
}

#sidesContainer {
  position: relative;
  width: 200px;
  transform-style: preserve-3d;
  transform-origin: 100px 100px;
}

.side {
  color: #FFF;
  position: absolute;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 30px rgba(125, 125, 125, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  transform: translateZ(-100px) rotateY(180deg);
  background-color: rgba(250, 201, 184, .80);
}
.right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
  background-color: rgba(32, 42, 37, .80);
}
.left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
  background-color: rgba(120, 128, 181, .80);
}
.top {
  transform: rotateX(90deg) translateY(-100px) scale(1, 1);
  transform-origin: top center;
  background-color: rgba(216, 210, 225, .80);
}
.bottom {
  transform: rotateX(-90deg) translateY(100px) scale(1, 1);
  transform-origin: bottom center;
  background-color: rgba(219, 34, 42, .80);
}
.front {
  transform: translateZ(100px);
  background-color: rgba(142, 227, 239, .80);
}

@media (--phone) {
  #container {
    width: 250px;
    height: 250px;
    perspective-origin: 50% 100px;
  }
  #sidesContainer {
    width: 250px;
    transform-origin: 125px 125px;
  }
  .side {
    width: 250px;
    height: 250px;
  }
  .back {
    transform: translateZ(-125px) rotateY(180deg);
  }
  .right {
    transform: rotateY(-270deg) translateX(125px);
  }
  .left {
    transform: rotateY(270deg) translateX(-125px);
  }
  .top {
    transform: rotateX(90deg) translateY(-125px) scale(1, 1);
  }
  .bottom {
    transform: rotateX(-90deg) translateY(125px) scale(1, 1);
  }
  .front {
    transform: translateZ(125px);
  }
}

@media (--phoneLandscape) {
  #container {
    width: 300px;
    height: 360px;
    perspective-origin: 50% 100px;
  }
  #sidesContainer {
    width: 300px;
    transform-origin: 150px 150px;
  }
  .side {
    width: 300px;
    height: 300px;
  }
  .back {
    transform: translateZ(-150px) rotateY(180deg);
  }
  .right {
    transform: rotateY(-270deg) translateX(150px);
  }
  .left {
    transform: rotateY(270deg) translateX(-150px);
  }
  .top {
    transform: rotateX(90deg) translateY(-150px) scale(1, 1);
  }
  .bottom {
    transform: rotateX(-90deg) translateY(150px) scale(1, 1);
  }
  .front {
    transform: translateZ(150px);
  }
}


@media (--tablet) {
  #container {
    width: 400px;
    height: 540px;
    perspective-origin: 50% 100px;
  }
  #sidesContainer {
    width: 400px;
    transform-origin: 200px 200px;
  }
  .side {
    width: 400px;
    height: 400px;
  }
  .back {
    transform: translateZ(-200px) rotateY(180deg);
  }
  .right {
    transform: rotateY(-270deg) translateX(200px);
  }
  .left {
    transform: rotateY(270deg) translateX(-200px);
  }
  .top {
    transform: rotateX(90deg) translateY(-200px) scale(1, 1);
  }
  .bottom {
    transform: rotateX(-90deg) translateY(200px) scale(1, 1);
  }
  .front {
    transform: translateZ(200px);
  }
}









/*.side {*/
  /*margin: 0;*/
  /*width: 196px;*/
  /*height: 196px;*/
  /*display: block;*/
  /*position: absolute;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*border: 2px solid black;*/
/*}*/
/*.front  { transform: rotateY(   0deg ) translateZ( 100px ); }*/
/*.back   { transform: rotateX( 180deg ) translateZ( 100px ); }*/
/*.right  { transform: rotateY(  90deg ) translateZ( 100px ); }*/
/*.left   { transform: rotateY( -90deg ) translateZ( 100px ); }*/
/*.top    { transform: rotateX(  90deg ) translateZ( 100px ); }*/
/*.bottom { transform: rotateX( -90deg ) translateZ( 100px ); }*/