@import '../../variables.css';


#root {
  height: calc(100% - 52px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.side {
  margin: 0;
  width: 196px;
  height: 196px;
  display: block;
  position: absolute;
  border: 2px solid black;
}
.front  { transform: rotateY(   0deg ); }
.back   { transform: rotateX( 180deg ); }
.right  { transform: rotateY(  90deg ); }
.left   { transform: rotateY( -90deg ); }
.top    { transform: rotateX(  90deg ); }
.bottom { transform: rotateX( -90deg ); }