@import '../variables.css';

.root{
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}


.root input,
.root input:focus {
  width: 80%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-size: 12px;
  display: inline-block;
}
