@import '../variables.css';

.root{
  width: 100%;
}

.root, .root input, .root input:focus{
  text-align: center;
}
.root input,
.root input:focus {
  width: 80%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-size: 32px;
  display: inline-block;
}
.root h2{
  margin: 0;
}
.root h2 i {
  margin-left: 25px;
}