@import '../variables.css';

#watch {
  table-layout: fixed;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  color: #3B3B3B;
  font-size: 13px;
  line-height: 14px;
}
#watch th {
  font-size: 11px;
  padding-bottom: 4px;
  border-bottom: 2px solid #E9E9E9;
}
#watch th a {
  text-decoration: none;
  color: #1E6DC0;
}
#sortSymbol {

}