@import '../../variables.css';

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
  min-height: 200px;
}

.folderContents {
  overflow-y: auto;
}

.sidebarAndFolderContents {
  position: relative;
  display: flex;
  height: 100%;
}