@import '../variables.css';

.root {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #1296EB;
  box-shadow: inset 3px 3px 5px #22C5F4;
  border-left: 1px solid black;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: default;
}

.infoImage {
  margin: 0 7px;
}

@media (--phoneRetina) {
  .root {
    min-width: 125px;
  }
  .infoImage {
    margin: 0 7px;
  }
}
@media(--desktop) {
  .root {
    min-width: 145px;
  }
  .infoImage {
    margin: 0 15px;
  }
}