@import '../variables.css';

.root  {
  width: 100%;
  background: #3CA55C; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3CA55C , #B5AC49); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3CA55C , #B5AC49); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.addWidget{
  color: #FFF;
}