@import '../../variables.css';

.root {
  background-image: linear-gradient( 0deg, #235AD8 .5%, #235AD8 85%, #4993E6 );
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  cursor: pointer;
}

.fileName, .fileControls {
  display: inline-block;
}
.fileControls {
  float: right;
}
.fileName{
  color: #FFF;
}
.resizeWindowIcon {
  display: inline-block;
  position: relative;

}

.resizeWindowIcon i:nth-child(2) {
  left: 5px;
  top: 1px;
  position: absolute;
}
.minimizeWindowIcon, .closeWindowIcon, .resizeWindowIcon {
  color: #FFF;
  margin: 0 5px;
  /*background-image: linear-gradient( 0deg, #235AD8 .5%, #739AF8 85%, #4993E6 );*/
}
.closeWindowIcon {
  background-image: linear-gradient( 0deg, #D7301D .5%, #EA6F6C 85%, #E84328 );
  padding:2px;
  border-radius: 2px;
}