@import '../../components/variables.css';

.root {
  height: 95%;
  position: relative;
  min-width: 200px;
}
.root * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

