@import '../../variables.css';

.root {
  height: 94%;
  background-color: #EEEEEE;
  padding: 5px;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  display: flex;
}

.dropzone {
  position: absolute;
}

@media (--tablet) {
  .root {
    /*width: 150px;*/
  }
  .startText {
    display: block;
  }
}
