@import '../../variables.css';

.root {
  height: 94%;
  background-color: #EEEEEE;
  padding: 5px;
  overflow: hidden;
  position: relative;
}

.selectedBlock {
  display: inline-block;
}
.selectedBlock {
  margin-bottom: -10px;
}
.selectedBlock:not(:first-child) {
  margin-top: -10px;
}
@media (--tablet) {
  .root {
    /*width: 150px;*/
  }
  .startText {
    display: block;
  }
}
