@import '../../variables.css';

.root {
  height: calc(100% - 50px);
  background-color: #EEEEEE;
  padding: 5px;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  z-index: 1;
}

.dropzone {
  position: absolute;
}

.showIndicator{
  animation: show 2s ease 1;
}

@media (--tablet) {
  .root {
    /*width: 150px;*/
  }
  .startText {
    display: block;
  }
}

@keyframes show {
  from {
    transform: translateY(50px);
  }

  to {
    transform: translateY(0px);
  }
}
@media (min-height: 400px) {
  * {
  }
}